.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.col-top-bottom-padding-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.inline-block {
    display: inline-block;
}

.actions {
    padding: 10px;
}